@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

body{
    background-color: bisque;
    font-family: 'Amatic SC', system-ui, -apple-system, sans-serif;
    font-size: 17pt;
}

th{
    text-align: left;
    text-decoration: underline;
}