@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

body{
    background-color: #e6e6e6;
    font-family: 'Amatic SC', system-ui, -apple-system, sans-serif;
    font-size: 17pt;
}

th{
    text-align: left;
    text-decoration: underline;
    min-width: 260px;
}

.completedTask{
    color: lightgray;
}